{% extends 'courses/base.html' %}

{% block title %}My courses{% endblock title %}

{% block content %}

<h1>My courses</h1>
    {% for course in object_list %}
        <h3><a href="{% url 'course_module_update' course.id %}">{{course.title}}</h3>
        <p>
            <a href="{% url 'course_edit' course.id %}">Edit</a>
            <a href="{% url 'course_delete' course.id %}">Delete</a>
        </p>
    {% empty %}
        <p>You haven't created any course yet!</p>
    {% endfor %}
    <p>
        <a href="{% url 'course_create' %}">Create course</a>
    </p>

{% endblock content %}